<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <xconnect>
    <!-- URL for the xConnect server. -->
    <uri></uri>
    <!-- Client certificate for the xConnect server. -->
    <!--<certificate>
      <AllowInvalidClientCertificates>true</AllowInvalidClientCertificates>
      <StoreName>My</StoreName>
      <StoreLocation>LocalMachine</StoreLocation>
      <FindType>FindByThumbprint</FindType>
      <FindValue></FindValue>
    </certificate>-->
  </xconnect>
</settings>