<!--
  Unicorn configuration for MA Extensions.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="MAExtensions">

          <targetDataStore physicalRootPath="C:\Users\adn\code\ma-extensions\XM Extensions\items\$(configurationName)" />
          
					<predicate>
						<include database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/XConnect - Custom Contact" />
            <include database="master" path="/sitecore/system/Settings/Analytics/Marketing Automation/Activity Types/Set Custom Facet" />
					</predicate>

					<dataProviderConfiguration enableTransparentSync="false" />

					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
